*{
    padding: 0;
    margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
}

.container {

}

.container__left {
    position: relative;
    width: 50%;
    display: block;
    float: left;
}
.container__right {
    position: relative;
    width: 50%;
    display: block;
    float: right;
}

.signin__form {
    margin-top: 25%;
    margin-left: 15%;

}

.signin__form h1{
    margin-left: 25%;
    margin-bottom: 68px;
    font-size: 32px;
    line-height: 48px;
    color: #233456;
}

.signin__form label{
    display: block;
}

.submit__button{
    box-shadow: 0px 16px 32px rgba(93, 95, 239, 0.2);
    color: white;
    display: inline-block;
    margin-top: 32px;
    background: #5D5FEF;
    border: 0;
    width: 440px;
    height: 40px;
    border-radius: 30px;
    cursor: pointer;
    font-size: 13px;
    font-weight: 500;
    line-height: 177.32%;
    text-transform: uppercase;
}

label{
    font-size: 14px;
    font-weight: 500;
    line-height: 21px;
}

input[type=text] {
    width: 440px;
    padding: 11.5px;
    background: #FFFFFF;
    border: 1px solid #A9C2D1;
    box-sizing: border-box;
    border-radius: 4px;
}

input[type=text]:focus-visible {
    outline:1px solid #A9C2D1;
}
.container__right{
    background-image: url("./background.jpg");
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;

}
.container__link {
    color: #5D5FEF;
    font-size: 14px;
    




}
